@font-face {
  font-family: 'font awesome 5 free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(../webfonts/fa-solid-900.eot);
  src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-solid-900.woff2) format("woff2"), url(../webfonts/fa-solid-900.woff) format("woff"), url(../webfonts/fa-solid-900.ttf) format("truetype"), url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fas {
  font-family: 'font awesome 5 free';
  font-weight: 900
}

@font-face {
  font-family: 'font awesome 5 brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../webfonts/fa-brands-400.eot);
  src: url(../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-brands-400.woff2) format("woff2"), url(../webfonts/fa-brands-400.woff) format("woff"), url(../webfonts/fa-brands-400.ttf) format("truetype"), url(../webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

.td-default main section {
  padding-top: 4rem;
  padding-bottom: 4rem
}

@media(min-width:768px) {
  .td-default main section {
    padding-top: 5rem;
    padding-bottom: 5rem
  }
}

.td-overlay {
  position: relative
}

.td-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.td-overlay--dark::after {
  background-color: rgba(64, 63, 76, .3)
}

.td-overlay__inner {
  position: relative;
  z-index: 1
}

@media(min-width:992px) {
  .td-content>h1,
  .td-content>h2,
  .td-content>p {
    max-width: 80%
  }
}

.-text-white {
  color: #fff
}

.td-content p code {
  color: inherit;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  word-break: normal;
  background-color: rgba(0, 0, 0, .05);
  border-radius: .25rem
}

.td-content pre {
  word-wrap: normal;
  background-color: #f8f9fa;
  padding: 1rem
}

.td-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  border: 0
}

.td-navbar-cover {
  background: #90bba1
}

@media(min-width:768px) {
  .td-navbar-cover {
    background: transparent!important
  }
  .td-navbar-cover .nav-link {
    text-shadow: 1px 1px 2px #403f4c
  }
}

.td-navbar {
  background: #90bba1;
  min-height: 4rem;
  margin: 0;
  z-index: 32
}

@media(min-width:768px) {
  .td-navbar {
    position: fixed;
    top: 0;
    width: 100%
  }
}

.td-navbar .navbar-brand {
  text-transform: none;
  text-align: middle
}

.td-navbar .nav-link {
  text-transform: none;
  font-weight: 700
}

.td-navbar .td-search-input {
  border: none
}

.td-navbar .td-search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .td-search-input:-moz-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .td-search-input::-moz-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .td-search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, .75)
}



@media(max-width:991.98px) {
  .td-navbar {
    padding-right: .5rem;
    padding-left: .75rem
  }
  .td-navbar .td-navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem
  }
  .td-navbar .td-navbar-nav-scroll .nav-link {
    padding-right: .25rem;
    padding-left: 0
  }
  .td-navbar .td-navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
  }
}

.td-sidebar-nav {
  padding-right: .5rem;
  margin-right: -15px;
  margin-left: -15px
}

@media(min-width:768px) {
  @supports((position: -webkit-sticky) or (position:sticky)) {
    .td-sidebar-nav {
      max-height:-webkit-calc(100vh - 10rem);
      max-height: calc(100vh - 10rem);
      overflow-y: auto
    }
  }
}

@media(min-width:768px) {
  .td-sidebar-nav {
    display: block!important
  }
}

.td-sidebar-nav__section {
  padding-left: 0
}

.td-sidebar-nav__section li {
  list-style: none
}

.td-sidebar-nav__section ul {
  padding: 0;
  margin: 0
}

@media(min-width:768px) {
  .td-sidebar-nav__section>ul {
    padding-left: .5rem
  }
}

.td-sidebar-nav__section-title {
  display: block;
  font-weight: 500
}

.td-sidebar-nav__section-title .active {
  font-weight: 700
}

.td-sidebar-nav__section-title a {
  color: #222
}

.td-sidebar-nav .td-sidebar-link {
  display: block;
  padding-bottom: .375rem
}

.td-sidebar-nav .td-sidebar-link__page {
  color: #495057;
  font-weight: 300
}

.td-sidebar-nav a:hover {
  color: #72a1e5;
  text-decoration: none
}

.td-sidebar-nav a.active {
  font-weight: 700
}

.td-sidebar {
  padding-bottom: 1rem
}

@media(min-width:768px) {
  .td-sidebar {
    padding-top: 4rem;
    background-color: rgba(48, 99, 142, .03);
    padding-right: 1rem;
    border-right: 1px solid #dee2e6
  }
}

.td-sidebar__toggle {
  line-height: 1;
  color: #222;
  margin: 1rem
}

.td-sidebar__search {
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px
}

.td-sidebar__inner {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0
}

@media(min-width:768px) {
  @supports((position: -webkit-sticky) or (position:sticky)) {
    .td-sidebar__inner {
      position:-webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 10;
      height: -webkit-calc(100vh - 6rem);
      height: calc(100vh - 6rem)
    }
  }
}

@media(min-width:1200px) {
  .td-sidebar__inner {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 320px;
    -ms-flex: 0 1 320px;
    flex: 0 1 320px
  }
}

@supports((position:-webkit-sticky) or (position:sticky)) {
}

.btn {
  border-radius: 1rem
}

.td-content {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
}

.td-content p {
  font-weight: 400
}

.td-content>h1 {
  font-weight: 700;
  margin-bottom: 1rem
}

.td-content>h2 {
  margin-bottom: 1rem
}

.td-content>h2:not(:first-child) {
  margin-top: 3rem
}

.td-content>h2+h3 {
  margin-top: 1rem
}

.td-content>h3 {
  margin-bottom: 1rem;
  margin-top: 2rem
}

.td-search-input {
  background: transparent;
  border-radius: 1rem;
  font-family: "font awesome 5 free", open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol
}

.td-search-input.form-control:focus {
  border-color: #f5f8fb;
  -webkit-box-shadow: 0 0 0 2px #82afd5;
  box-shadow: 0 0 0 2px #82afd5
}

.td-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh
}

@media(min-width:768px) {
  .td-default main section:first-of-type {
    padding-top: 8rem
  }
}

.td-main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.td-main main {
  padding-bottom: 2rem
}

@media(min-width:768px) {
  .td-main main {
    padding-top: 5.5rem
  }
}

.td-cover-block--height-full {
  min-height: 100vh
}

.td-cover-block {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-background-size: cover;
  background-size: cover
}

.section-index .entry {
  padding: .75rem
}

.section-index h5 {
  margin-bottom: 0
}

.section-index h5 a {
  font-weight: 700
}

.section-index p {
  margin-top: 0
}

@media(min-width:768px) {
  h2[id]:before,
  h3[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden
  }
}

.display-1 {
  font-size: 3rem;
  font-weight: 700;
}


a {
 color:	#ff9b00;
}

.card { background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer { opacity: 0.4}
