<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    {{{cdn-imports}}}
    <link rel="stylesheet" href="/css/style.css">
    <style>
      {{highlighting}}
    </style>
</head>
