<!doctype html>
<html lang="en" class="no-js">
  {{>head}}
  <body class="td-home">
    {{>header}}
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main">
        <section id="td-cover-block-0" class="row td-cover-block td-cover-block--height-full js-td-cover td-overlay td-overlay--dark -text-white" style="background-image: url('{{{image}}}');">
          <div class="container td-overlay__inner">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h1 class="display-1 mt-0 mt-md-5 pb-4">{{{title}}}</h1>
                  <div class="pt-3 lead">
                    <div class="mx-auto">
                      <p class="lead mt-5">
                         Shakebook is a technical documentation generator powered by Haskell, <a href="http://shakebuild.com">Shake</a>, and <a href="http://pandoc.org">Pandoc</a>
                      </p>
                     <p>
                         You can compile both to <a href="/docs">HTML</a> and to <a href="/book.pdf">PDF</a>.
                     </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <p class="display-1 mt-5 mt-0 mt-md-5 pb-4">Recent News <small>(<a href="/posts">View All Posts</a>)</small>
              <small><a class="fg-white" href="/feed.xml" target="_blank">
              RSS <i class="fa fa-rss ml-2 "></i>
                </a></small>
              </p>
              <ul>
                {{#recent-posts}}
                <li><a href="{{{url}}}">{{{title}}}</a> - Posted {{{pretty-date}}}</li>
                {{/recent-posts}}
              </ul>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
