<!doctype html>
<html lang="en" class="no-js">
  {{>head}}
  <body class="td-section">
    {{>header}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{>sidebar}}
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="td-content">
              <h1>{{{title}}}</h1>
              <div class="td-byline mb-4">
                <p class="pt-0">
                <small class="text-muted">Posted {{{pretty-date}}} with tags:
                  {{#tag-links}}
                  <a href="{{{url}}}">{{{id}}}</a>
                  {{/tag-links}}
                </small>
                </p>
              </div>
              {{{content}}}
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
