<div id="td-sidebar-menu" class="td-sidebar__inner">
  <form action="//google.com/search" class="td-sidebar__search d-flex align-items-center searchform">
    <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">
    <input type="hidden" name="sitesearch" value="{{{baseUrl}}}">
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  {{>toc}}
</div>

