<nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
  <ul class="td-sidebar-nav__section pr-md-3">
    {{#toc}}
    {{#head}}
    <li class="td-sidebar-nav__section-id">
      <a  href="{{url}}" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{id}}</a>
    </li>
    {{/head}}
    <ul>
      {{#tail}}
      <li class="collapse show">
        <ul class="td-sidebar-nav__section pr-md-3">
          {{#head}}
          <li class="td-sidebar-nav__section-id">
            <a  href="{{url}}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{id}}</a>
          </li>
          {{/head}}
          <ul>
            {{#tail}}
            {{#head}}
            <li class="collapse show">
            <a class="td-sidebar-link td-sidebar-link__page " id="m-docs-adding-content-content" href="{{url}}">{{id}}</a>
            </li>
            {{/head}}
            {{/tail}}
          </ul>
        </ul>
      </li>
      {{/tail}}
    </ul>
    {{/toc}}
  </ul>
 </nav>
